*{
    margin: 0;
    padding: 0;
}
.logo{
    height: 70px;
    border-radius: 100px;
}
.top{
    background-color: rgb(16, 175, 16);
}
body {
    background: #f3f3f3;
  }
  .blmd-wrapp {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    height: auto;
    margin-top: 10vh;
    background: #fff;
    padding: 1em 0;
    position: relative;
    transition: height 0.5s;
  }
  .blmd-wrapp .blmd-header-wrapp {
    clear: both;
    position: relative;
  }
  .blmd-wrapp .blmd-header-wrapp .blmd-switches {
    position: relative;
    z-index: 3;
  }
  .blmd-wrapp .blmd-header-wrapp .blmd-switches > button {
    position: absolute;
    right: -30px;
    top: 35px;
    transition: all 1s;
  }
  .blmd-wrapp .blmd-header-wrapp .blmd-switches > button.active {
    right: 50%;
    top: -45px;
    margin-right: -32px;
    background: #fff;
    border: 2px solid #3fb53f;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: all 0.5s;
  }
  .blmd-wrapp .blmd-continer {
    padding: 15px;
    height: auto;
    overflow: hidden;
  }
  .blmd-wrapp .blmd-continer form {
    max-height: auto;
    transition: all 0.5s;
  }
  .blmd-wrapp .blmd-continer form > h1 {
    padding: 15px 0 15px 30px;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
  }
  .blmd-wrapp .blmd-continer form.form-hidden {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.5s;
  }
  .blmd-wrapp .blmd-continer form#login-form > h1 {
    border-left: 5px solid #3fb53f;
  }
  .blmd-wrapp .blmd-continer form#Register-form > h1 {
    border-left: 5px solid #fff;
    color: #fff;
  }
  .blmd-wrapp .blmd-continer form#Register-form .blmd-form .blmd-line:after {
    background: #ff9800;
  }
  .blmd-wrapp .blmd-continer form#Register-form .blmd-form .form-control {
    color: #fff;
  }
  .blmd-wrapp .blmd-continer form#Register-form .blmd-form .blmd-label {
    color: #fff;
  }
  .blmd-wrapp .blmd-continer form#Register-form.animate {
    -webkit-animation: fadein 0.75s;
    -moz-animation: fadein 0.75s;
    -ms-animation: fadein 0.75s;
    -o-animation: fadein 0.75s;
    animation: fadein 0.75s;
  }
  .blmd-wrapp .blmd-continer form#Register-form.animate-out {
    -webkit-animation: fadeout 0.75s;
    -moz-animation: fadeout 0.75s;
    -ms-animation: fadeout 0.75s;
    -o-animation: fadeout 0.75s;
    animation: fadeout 0.75s;
  }
  .blmd-wrapp .blmd-color-conatiner {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 20px;
  }
  .btn-blmd {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2px;
  }
  .btn-blmd:active,
  .btn-blmd.active,
  .btn-blmd:focus,
  .btn-blmd:active:focus,
  .btn-blmd.active:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .btn-blmd.btn {
    border: 0;
  }
  .btn-blmd.btn:focus,
  .btn-blmd.btn:active,
  .btn-blmd.btn.active,
  .btn-blmd.btn:active:focus,
  .btn-blmd.btn.active:focus {
    outline: 0;
    outline-offset: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn-blmd.btn.btn-circle {
    padding: 15px;
    border-radius: 50%;
    line-height: 0px;
  }
  .btn-blmd.btn.btn-circle.btn-lg {
    padding: 20px;
  }
  .btn-blmd.btn.btn-circle.btn-sm {
    padding: 10px;
  }
  .btn-blmd.btn.btn-circle.btn-xs {
    padding: 5px;
  }
  .btn-blmd.btn.btn-default {
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
  }
  .btn-blmd.btn.btn-default:hover,
  .btn-blmd.btn.btn-default:focus {
    background: #f2f2f2;
  }
  .btn-blmd.btn.btn-primary {
    background: #465866;
    color: #fff;
  }
  .btn-blmd.btn.btn-primary:hover,
  .btn-blmd.btn.btn-primary:focus {
    background: #3c4b57;
  }
  .btn-blmd.btn.btn-info {
    background: #33a7cf;
    color: #fff;
  }
  .btn-blmd.btn.btn-info:hover,
  .btn-blmd.btn.btn-info:focus {
    background: #3fb53f;
  }
  .btn-blmd.btn.btn-success {
    background: #3fb53f;
    color: #fff;
  }
  .btn-blmd.btn.btn-warning {
    background: #fff;
    color: #3fb53f;
  }
  .btn-blmd.btn.btn-warning:hover,
  .btn-blmd.btn.btn-warning:focus {
    background: #fff;
  }
  .btn-blmd.btn.btn-danger {
    background: #d65c4f;
    color: #fff;
  }
  .btn-blmd.btn.btn-danger:hover,
  .btn-blmd.btn.btn-danger:focus {
    background: #d1493a;
  }
  .btn-blmd.btn.btn-link {
    background: #dddddd;
    color: rgba(0, 0, 0, 0.87);
  }
  .btn-blmd.btn.btn-link:hover,
  .btn-blmd.btn.btn-link:focus {
    background: #d0d0d0;
  }
  .ripple-effect {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .ink {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    background: rgba(0, 0, 0, 0.2);
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    opacity: 0.5;
  }
  .ink.animate {
    -webkit-animation: ripple 0.75s linear;
    -moz-animation: ripple 0.75s linear;
    -o-animation: ripple 0.75s linear;
    animation: ripple 0.75s linear;
  }
  @keyframes ripple {
    100% {
      opacity: 0;
      -moz-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5);
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
    }
  }
  @-webkit-keyframes ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(2.5);
      -moz-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5);
      transform: scale(2.5);
    }
  }
  @-moz-keyframes ripple {
    100% {
      opacity: 0;
      -moz-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5);
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
    }
  }
  @-ms-keyframes ripple {
    100% {
      opacity: 0;
      -ms-transform: scale(2.5);
      transform: scale(2.5);
    }
  }
  @-o-keyframes ripple {
    100% {
      opacity: 0;
      -o-transform: scale(2.5);
      -moz-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
    }
  }
  .ripple-effect-All {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .ink-All {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    background: #3f51b5;
    opacity: 1;
  }
  .ink-All.animate {
    -webkit-animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
    -moz-animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
    -o-animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
    animation: ripple-All 1.5s cubic-bezier(0.4, 0, 1, 1);
  }
  @keyframes ripple-All {
    100% {
      opacity: 1;
      -moz-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5);
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
    }
  }
  @-webkit-keyframes ripple-All {
    100% {
      opacity: 1;
      -webkit-transform: scale(2.5);
      -moz-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5);
      transform: scale(2.5);
    }
  }
  @-moz-keyframes ripple-All {
    100% {
      opacity: 1;
      -moz-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5);
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
    }
  }
  @-ms-keyframes ripple-All {
    100% {
      opacity: 1;
      -ms-transform: scale(2.5);
      transform: scale(2.5);
    }
  }
  @-o-keyframes ripple-All {
    100% {
      opacity: 1;
      -o-transform: scale(2.5);
      -moz-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
    }
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-moz-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-ms-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-o-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .blmd-form {
    margin: 3rem 0;
    position: relative;
    width: 100%;
  }
  .blmd-form .input-group-addon {
    border-width: 0 0 1px;
    min-width: 42px;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #2e353b;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
  }
  .blmd-form .blmd-line {
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top;
  }
  .blmd-form .blmd-line.blmd-toggled:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .blmd-form .blmd-line.blmd-toggled.hf:after {
    display: none;
  }
  .blmd-form .blmd-line.blmd-toggled .blmd-label {
    top: -10px;
    font-size: 11px;
  }
  .blmd-form .blmd-line:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    background: #3fb53f;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    content: "";
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .blmd-form .form-control {
    box-shadow: none;
    border-radius: 0;
    position: relative;
    background: 0 0;
    z-index: 1;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
  }
  .blmd-form .blmd-label {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    position: absolute;
    top: 5px;
    font-weight: 400;
    color: #959595;
    pointer-events: none;
    z-index: 0;
    left: 0;
    white-space: nowrap;
  }
  .col-md-4 {
      margin: 0 auto;
  }
  .form-control {
      height: 45px;
  }
  button.btn.btn-blmd.ripple-effect.btn-lg.btn-block {
      width: 100%;
      border-radius: 20px;
  }
  .col-md-12 {
      padding-right: 15px;
      padding-left: 15px;
  }
  span.ink-All.animate {
      background: #3fb53f !important;
      height: 100% !important;
      border-radius: 20px;
  }
  .blmd-wrapp .blmd-header-wrapp .blmd-switches > button.active svg path {
      fill: #3f51b5;
  }
  .footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3fb53f;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3fb53f;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}
  
  @media (max-width: 600px) {
      .container {
          width: 90%;
      }
  }